<div class="container">
	<ul class="unstyled">
	  <li>
		  <a href="mailto:hello@damadepica.com">
		    <i class="fa fa-envelope fa-2x"></i>
		  </a>
	  </li>
	  <li>
		  <a href="tel:+40700000000">
		    <i class="fa fa-mobile fa-2x"></i>
		  </a>
	  </li>
	  <li>
		  <a href="https://www.facebook.com/damahainepictatemanual" target="_blank">
		    <i class="fa fa-facebook-square fa-2x"></i>
		  </a>
	  </li>
	</ul>
	<br>
	<i class="fa fa-copyright"> 2016 DAMĂ DE PICĂ. All rights reserved.</i><br>
	<i class="fa fa-code"> by nistrue</i>
</div>
