.navbar {
	background-color: #fff;
	color: #000;
	border-bottom: 0.5px solid #484848;
	opacity: 0.9;
}

.navbar ul li {
	font-family: Hadriano;
}
.navbar a {
	color: #000;
}


@font-face {
	font-family: Hadriano;
	src: url('http://db.onlinewebfonts.com/t/91697444dd925e2868ace8dde31c01aa.eot');
}