<navbar></navbar>

<header></header>

<div class="container">
	<div class="row">
		<h1>Cart</h1>
		<ngcart-cart template-url="components/ngcart/cart.html"></ngcart-cart>

        <div class="orderDetails">
    <h1>Customer Details</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="formData.name" id="name" placeholder="Your Full Name" required="">
            </div>
             
        </div>
       
        <div class="form-group">
            <label for="shippingAddress" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-5">
                <textarea rows="2" class="form-control" ng-model="formData.shippingAddress" id="shippgingAddress" placeholder="Enter the Address for Delivery" required=""></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">City</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="formData.city" id="city" placeholder="City" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="region" class="col-sm-2 control-label">Region/Province</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="formData.region" id="region" placeholder="Region/Province" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="formData.country" id="country" placeholder="Country" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-5">
                <input type="tel" class="form-control" ng-model="formData.phone" id="phone" placeholder="Phone Number" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control" ng-model="formData.email" id="email" placeholder="email@example.com" required="">
            </div>
        </div>
        <div class="form-group">
            <label for="emailVerify" class="col-sm-2 control-label">Confirm Email</label>
            <div class="col-sm-5">
                <input type="email" class="form-control" ng-model="formData.emailConfirm" id="emailConfirm" placeholder="email@example.com" required="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-1">
                <i>*Please fill in all the fields to complete the order</i> 
            </div>
        </div>

        <button type="submit" class="btn btn-default" ng-click="submitOrder(checkoutData)">Checkout</button>



    </form>
    {{ProductCheckoutCtrl.formData}}
    {{ngCart.totalCost}}


        <!-- Checkout Button -->
        <!-- <ngcart-checkout template-url="components/ngcart/checkout.html" options="paymentOptions" service="log" settings="{ url:'/checkout' }">Checkout</ngcart-checkout>
 -->

        <!-- <braintree options="paypalOptions">Loading PayPal button...</braintree> -->

<!--       <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <div class="input-group">
          <input
            ng-model="creditCard.number"
            type="tel"
            class="form-control"
            name="cardNumber"
            placeholder="Valid Card Number"
            autocomplete="cc-number"
            required autofocus
          />
          <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
        </div>
      </div>
<div class="form-group">
    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
    <input
      ng-model="creditCard.expirationDate"
      type="tel"
      class="form-control"
      name="cardExpiry"
      placeholder="MM / YY"
      autocomplete="cc-exp"
      required
    />
</div> -->

<!--   <input
    type="submit"
    value="Purchase"
    ng-click="payButtonClicked()"
    class="btn btn-primary"
    /> -->
    
    
</div>
	</div>

	<!-- <div class="row">
		<h1>Choose a payment method</h1>
		<p class="help-block">{{errors}}</p><br>
		<div class="col-md-6"> -->
			<!-- <form>
				<braintree-dropin options="paymentOptions">Loading...</braintree-dropin>
				<input type="submit" value="Purchase" />
			</form> -->
			<!--  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
        <input name="cmd" value="_xclick" />
        <input  name="business" value="{{ settings.paypal.business }}" />
        <input  name="lc" value="CA" />
        <input  name="item_name" value="{{ settings.paypal.item_name }}" />
        <input  name="item_number" value="{{ settings.paypal.item_number }}" />
        <input  name="amount" value="{{ ngCart.getSubTotal()}}" />
        <input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}" />
        <input type="hidden" name="button_subtype" value="services" />
        <input type="hidden" name="no_note" value="{{ settings.paypal.no_note }}" />
        <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}" />
        <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}" />
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
		</div>
	</div>  -->
</div>

<footer></footer>